DirectoryIndex index.php index.html index.htm
ErrorDocument 404 /404.html
Options +Indexes +FollowSymlinks
RewriteEngine On

SetEnvIf X-Forwarded-Proto https SERVER_PORT=443
SetEnvIf X-Forwarded-Proto https HTTPS=on

RewriteCond %{HTTP:HTTPS} !=on [NC]
RewriteRule ^(.*)$ https://premium-avto.ru/$1 [R=301,L]

AddDefaultCharset UTF-8
AddHandler application/x-httpd-php .html .htm
AddType application/x-httpd-php .html .htm

<IfModule mod_charset.c>
CharsetDIsable on
CharsetRecodeMultipartForms Off
</IfModule>

<IfModule mod_headers.c>
Header always edit Set-Cookie (.*) "$1; HTTPOnly"
</IfModule>

php_value mbstring.func_overload 0
php_value default_charset UTF-8
php_value mbstring.language Russian
php_flag mbstring.encoding_translation on
php_value mbstring.detect_order "UTF-8,KOI8-R,CP1251"

RewriteCond %{REQUEST_FILENAME} data\/.*\.(php|php4|php5|pl|pm|cgi|js|html|htm|exe) [NC]
RewriteRule "(^|/)." - [F]

RewriteRule _vendor "-" [F]

RewriteCond %{REQUEST_FILENAME} _ajax\/.*\.php
RewriteRule ^([0-9A-Za-z_/\-]+\.php)(.*) index.php?link=/$1&%{QUERY_STRING}

RewriteCond %{REQUEST_FILENAME} !_inc\/.*
RewriteCond %{REQUEST_FILENAME} !oauth\.php
RewriteRule ^([0-9A-Za-z_/\-]+\.php)(.*) index.php?link=/$1&%{QUERY_STRING}

RewriteCond %{REQUEST_FILENAME} !_inc\/.*
RewriteCond %{REQUEST_FILENAME} !fancybox.*
RewriteCond %{REQUEST_FILENAME} !_ckeditor.*
RewriteCond %{REQUEST_FILENAME} !.*_ckeditor.*
RewriteRule ^([0-9A-Za-z_/\-]+\.html)(.*) index.php?link=/$1&%{QUERY_STRING}

RewriteRule ^([0-9A-Za-z_/\-]+/)$ index.php?link=/$1&%{QUERY_STRING}
RewriteRule ^()$ index.php?link=/index.html&%{QUERY_STRING}

php_value error_reporting 7
