<!DOCTYPE html>
<html lang="ru" id="html"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>{#_TITLE_#}</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="/_style/general.css">	
        <link rel="stylesheet" href="/_style/font/font-awesome.css">
	<link rel="stylesheet" href="/_style/cabinet/style.css">	
</head>
<body class="layout_cabinet" id="body">
    
<div id="wrapper">
<!-- content -->
{#_CONTENT_#}
<!-- /content -->
</div>

</body></html>